@tailwind base;
@tailwind components;
@tailwind utilities;

/* Root and Dark Mode Styles */
html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

/* Utility Styles */
.borderBlack {
  @apply border border-black/10;
}

/* Contacts Section */
.contacts_section {
  @apply grid w-full mx-auto mt-12;
  grid-template-columns: 1fr 1fr;
  max-width: 1052px;
}

.contacts_section form {
  @apply w-full mt-12;
}

#contact {
  @apply w-full;
}

/* Animation Block */
.animation_block {
  @apply w-full relative overflow-hidden;
  right: -45px;
  top: -30px;
}

.animation_block canvas {
  width: 600px !important;
  height: 500px !important;
}

/* Back Home Button */
.back-home-btn {
  @apply absolute z-5 flex items-center justify-center transition duration-300;
  width: 120px;
  height: 45px;
  border-radius: 12px;
  background-color: white;
  color: black;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Projects Grid */
.projects_grid {
  @apply grid gap-5;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1050px;
}

/* Project Title */
.project_title {
  @apply transition duration-300;
}

.project_title:hover {
  @apply text-purple-700;
}

/* Project Inner */
.project_inner {
  @apply flex flex-col-reverse overflow-hidden p-0;
}

.project_skills {
  @apply mt-4;
}

.project_inner:hover img {
  @apply transform scale-125;
}

.project_inner:hover .project_img::before {
  @apply bg-black bg-opacity-5;
}

/* Project Info */
.project_info {
  @apply p-5;
}

/* Project Image */
.project_img {
  @apply relative overflow-hidden;
  width: 100%;
  height: 200px;
}

.project_img::before {
  @apply absolute inset-0 z-5 transition duration-500 bg-black bg-opacity-20;
}

.project_img img {
  @apply absolute inset-0 w-full h-full object-cover transition duration-500;
}

/* Media Queries */
@media (max-width: 575px) {
  .contacts_section {
    grid-template-columns: 1fr;
  }

  .animation_block {
    right: 0;
    top: 0;
  }

  .animation_block canvas {
    width: 370px !important;
    height: 350px !important;
  }

  .projects_grid {
    grid-template-columns: 1fr;
  }
}
